@{
    ViewBag.Title = "Apps De Apoio";
}


<link href="~/css/appStyle.css" rel="stylesheet" type="text/css" />

<header>
    <h1 class="titulo-da-pagina">Selecione um App abaixo para ser direcionado para a página.</h1>
</header>


<body>
    <section class="container appPage">
        <div class="column">
            <a href="https://ilovepdf.com" target="_blank"><img src="~/Assets/ilovepdf.svg" class="ilovepdf-icon" /></a>
            <p> I&#10084;PDF </p>
        </div>
        <div class="column">
            <a href="https://d4sign.com.br/" target="_blank"><img src="~/Assets/D4Sign-icon.png" class="icon" /></a>
            <p>D4Sign</p>
        </div>
        <div class="column">
            <a href="https://autoatendimento.bb.com.br/apf-apj-acesso/#/transacao/acesso-apj/1" target="_blank"><img src="~/Assets/logo-banco-do-brasil.png" class="icon" /></a>
            <p>Banco Do Brasil</p>
        </div>
        <div class="column">
            <a href="https://www.digitalsaude.com.br/home" target="_blank"><img src="~/Assets/raio-x.png" class="icon" /></a>
            <p>Digital Saúde</p>
        </div>
        <div class="column">
            <a href="https://sguweb.unimedflorianopolis.com.br/sgu-web/index.php#" target="_blank"><img src="~/Assets/Sgu-Web.png" class="icon" /></a>
            <p>SGU WEB</p>
        </div>
        <div class="column">
            <a href="https://app.asana.com/-/login" target="_blank"><img src="~/Assets/asana.svg" class="icon" /></a>
            <p>Asana</p>
        </div>
        <div class="column">
            <a href="https://docs.google.com/spreadsheets/d/1JajghntWBB11PqLuPb0WvX0kYA6NrFsbxQBiEPnTTZQ/edit#gid=1783806743" target="_blank"><img src="~/Assets/Sheets.png" class="icon" /></a>
            <p>Planilha Pro-Rata</p>
        </div>
        <div class="column">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSebARwScj1Heh-aOO-FxF30kvU2bMCJGi4V06e0Zf-ta_YEYg/viewform/" target="_blank"><img src="~/Assets/relogio.png" class="icon" /></a>
            <p>Controle de Ponto</p>
        </div>
    </section>
</body>