﻿@{
    ViewBag.Title = "Coparticipação";
}

<link href="~/css/appStyle.css" rel="stylesheet" type="text/css" />

<header>
    <h1 id="titulo-pagina">Selecione um dos Apps abaixo</h1>
    <p id="subtitulo-pagina">Clique em uma das caixas abaixo para ser direcionado para o Site</p>
</header>

<section class="container appPage">
    <div class="column">
        <a href="https://tabelacop.unimedflorianopolis.com.br/" target="_blank"><img src="~/Assets/plano-de-saude.png" class="icon-pense" /></a>
        <p>Tabela Coparticipação</p>
    </div>
</section>