﻿@{
    ViewBag.Title = "Documentos";
}

<link href="~/css/appStyle.css" rel="stylesheet" type="text/css" />
<header>
    <h1 id="titulo-pagina">Selecione um Documento abaixo</h1>
</header>

<section class="container appPage">
    <div class="column">
        <a href="~/Assets/FORMULÁRIO DE MOVIMENTAÇÃO.pdf" target="_blank"><img src="~/Assets/Formulário de Cadastro.png" class="icon-pense" /></a>
        <p>Formulário de Cadastro</p>
    </div>
    <div class="column">
        <a href="~/Assets/Declaração de Saúde.pdf" target="_blank"><img src="~/Assets/Declaração De Saúde.png" class="icon-pense" /></a>
        <p>Declaração De Saúde</p>
    </div>
        <div class="column">
        <a href="~/Assets/DECLARACAO Crianças.docx" download><img src="~/Assets/Termo Menor de Idade.png" class="icon-pense" /></a>
        <p>Termo Menor de Idade</p>
    </div>
    <div class="column">
        <a href="~/Assets/RegrasComercialização.pdf" target="_blank"><img src="~/Assets/Regras De Comercialização.png" class="icon-pense" /></a>
        <p>Regras De Comercialização</p>
    </div>
</section>