@{
   ViewBag.Title = "Treinamentos";
}

<link href="~/css/appStyle.css" rel="stylesheet" type="text/css" />
<header>
    <h1 id="titulo-pagina">Selecione um video ou arquivo abaixo </h1>
</header>

<body>
    <section class="container appPage">
        <div class="column">
            <a href="https://drive.google.com/file/d/13K_M7Hr88zD3aPqX40Fy10cR2RjLCNJP/view?usp=drive_link" target="_blank"><img src="~/Assets/LogoPlay.svg" class="ilovepdf-icon" /></a>
            <p>Vídeo Tutorial Site P4H</p>
        </div>
          <div class="column">
            <a href="https://drive.google.com/file/d/1kjzY0ZDiyvvHEBLu-MgBJhiulcjT7z6w/view?usp=drive_link" target="_blank"><img src="~/Assets/jonasDigitalSaude.jpg" class="ilovepdf-icon" /></a>
            <p>Vídeo Digital Saúde 1</p>
        </div>
          <div class="column">
            <a href="https://drive.google.com/file/d/1Avkrv1VxhFQg6zYDBYmmrN2-AIQV55uA/view?usp=drive_link" target="_blank"><img src="~/Assets/jonasDigitalSaude.jpg" class="ilovepdf-icon" /></a>
            <p>Vídeo Digital Saúde 2</p>
        </div>
          <div class="column">
            <a href="https://drive.google.com/file/d/1HjxalpPk69-XVptDiGw0agl7x_B0reV5/view?usp=drive_link" target="_blank"><img src="~/Assets/jonasDigitalSaude.jpg" class="ilovepdf-icon" /></a>
            <p>Vídeo Digital Saúde 3</p>
        </div>
          <div class="column">
            <a href="https://drive.google.com/file/d/1WnOCp3YQbWWgPHBl1SvUwq7QpKqlgg3R/view?usp=drive_link" target="_blank"><img src="~/Assets/jonasDigitalSaude.jpg" class="ilovepdf-icon" /></a>
            <p>Vídeo Digital Saúde 4</p>
        </div>
          <div class="column">
            <a href="https://drive.google.com/file/d/1LD5gvW8GR1VI0fqYoNcgjvgFCMQe7Ao1/view?usp=drive_link" target="_blank"><img src="~/Assets/jonasDigitalSaude.jpg" class="ilovepdf-icon" /></a>
            <p>Vídeo Digital Saúde 5</p>
        </div>          
        <div class="column">
            <a href="https://drive.google.com/file/d/1UThn_Nu2cW5IdLUqsShqZEh9PiJbgyMJ/view?usp=drive_link" target="_blank"><img src="~/Assets/LogoPlay.svg" class="ilovepdf-icon" /></a>
            <p>Vídeo Gaby SGU WEB 1</p>
        </div>        
        <div class="column">
            <a href="https://drive.google.com/file/d/1Bj7oR9Lr1VrAQ6A0g5oeG5RFIZk6uBKJ/view?usp=drive_link" target="_blank"><img src="~/Assets/LogoPlay.svg" class="ilovepdf-icon" /></a>
            <p>Vídeo exclusão ou dependentes</p>
        </div>
    </section>
</body>