﻿@{
    ViewBag.Title = "Vendas Online";
}

<link href="~/css/appStyle.css" rel="stylesheet" type="text/css" />
<header>
    <h1 id="titulo-pagina">Selecione um dos Apps abaixo</h1>
    <p id="subtitulo-pagina">Clique em uma das caixas abaixo para ser direcionado para o Site</p>
</header>

<section class="container appPage">
    <div class="column">
        <a href="https://app.penseplanos.com.br/Account/Login?ReturnUrl=%2F" target="_blank"><img src="~/Assets/LOGO PENSE PLANOS.png" class="icon-pense" /></a>
        <p>Pense Planos</p>
    </div>
</section>